html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    background-image:url('Resources/pencils.jpg');
    text-align: center;
    vertical-align: middle;
    display: table-row;
}

#GenvsInc{
    margin-top: 100px;
}

#First {
    margin-top: 100px;
}

