html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    text-align: center;
    vertical-align: middle;
    display: table-row;
}

#GenvsInc{
    margin-top: 100px;
}

#First {
    margin-top: 100px;
}


/* KPIS */
.kpi {
    background-color: #eeeeee;
    height: 80px;
    width: 80%;
    text-align: center;
    margin: 15px 5px;
}

.kpiNumber{
    color:#20565C;
    font-size: 30px;
}

.kpiBackground{
    background-color: #eeeeee;
    padding: 5px;
    border-bottom: #20565C 2px solid;
    
}

.kpiNumber2{
    color:purple;
    font-size: 30px;
}

.kpiBackground2{
    background-color: #eeeeee;
    padding: 5px;
    color:purple;
    border-bottom:  2px solid;
}

.kpiText{
    color:black;
    font-size: 15px;
}